<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="../index.html">home</a></li>
                <li><a href="nosotros.html">nosotros</a></li>
                <li><a href="galeria.html">galeria</a></li>
                <li><a href="contacto.html">contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>contactanos</h1>

        <h2>Completa el siguiente formulario y nos comunicaremos contigo</h2>

        <form action="" method="">
            <fieldset>
                <legend>Datos Personales</legend>
                <label for="nombre">nombre:</label>
                <input type="text" name="nombre" id="nombre">
                <br>
                <label for="apellido">apellido:</label>
                <input type="text" name="apellido" id="apellido">
                <br>
                <label for="edad">edad:</label>
                <input type="number" name="edad" id="edad">
                <br>
                <label for="fecha_nacimiento">fecha de nacimiento:</label>
                <input type="date" name="fecha_nacimiento" id="fecha_nacimiento">
                <br>
                <label for="telefono">telefono:</label>
                <input type="number" name="telefono" id="telefono">
                <br>
                <label for="email">email:</label>
                <input type="email" name="email" id="email">
                <br>
                </fieldset>
                <br>
                <fieldset>
                    <legend>estilos mas populares</legend>
                    <label for="populares">frases</label>
                    <input type="radio" name="populares" id="populares" value="frases">
                    <label for="populares">fechas</label>
                    <input type="radio" name="populares" id="populares" value="fechas">
                    <label for="populares">simbolos</label>
                    <input type="radio" name="populares" id="populares" value="simbolos">
                    <label for="populares">minimalistas</label>
                    <input type="radio" name="populares" id="populares" value="minimalistas">
                    <label for="populares">otro</label>
                    <input type="radio" name="populares" id="populares" value="otro">
                </fieldset>
                <br>
                <fieldset>
                    <legend>compartinos tu modelo</legend>
                    <input type="file" name="modelo_tatto" id="modelo_tatto">
                </fieldset>
                <fieldset>
                    <legend>medida</legend>
                  <select name="medida" id="medida">
                  <option value="S">small</option>
                  <option value="M">medium</option>
                </select> 
                </fieldset>
                <fieldset>
                    <legend>color de tinta</legend>
                    <label for="color">negra</label>
                    <input type="checkbox" name="color" id="color" value="negra">
                    <label for="color">blanca</label>
                    <input type="checkbox" name="color" id="color" value="blanca">
                    <label for="color">rojo</label>
                    <input type="checkbox" name="color" id="color" value="rojo">
                </fieldset>
                <br>
            <fieldset>
                <legend>consulta</legend>
                <label for="asunto">asunto:</label>
                <input type="text" name="asunto" id="asunto">
                <br>
                <label for="contenido">contenido:</label>
                <br>
                <textarea name="contenido" id="" cols="30" rows="10"></textarea>
            </fieldset>
            <br>
            <input type="submit" value="enviar">
            <input type="reset" value="borrar campo">
        </form>
    </main>
    <footer>
        <br>
        <a href="mailto:EJemail@gmail.com">email del contacto</a>
        <a href="https://www.instagram.com/tatuajespics/?hl=es" target="_blank">instagram </a>
    </footer>
</body>
</html>